/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 */
/* line 27, ../compass/sass/components/_misc.scss */
.base-font, body {
  font-family: 'Poiret One', cursive;
  font-size: 14px;
  line-height: 16px;
}

/* line 8, ../compass/sass/layout/_header.scss */
#header {
  width: 100%;
  position: fixed;
  background-color: red;
  height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 14, ../compass/sass/layout/_header.scss */
#header .circle {
  border-radius: 20px;
  background-color: #000;
  border: 3px solid #0000ff;
  height: 30px;
  width: 30px;
}

/* line 5, ../compass/sass/layout/_footer.scss */
#footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 30px;
  background-color: blue;
}

/* line 6, ../compass/sass/styles.scss */
body {
  width: 100%;
  margin: 0px;
  background-color: #000;
}

/* line 14, ../compass/sass/styles.scss */
body .container {
  width: 1200px;
  overflow: hidden;
  margin: auto;
}
/* line 18, ../compass/sass/styles.scss */
body .container.after-header {
  padding-top: 40px;
}
/* line 21, ../compass/sass/styles.scss */
body .container .col {
  width: 300px;
  margin: auto 0px;
  float: left;
  color: #fff;
}

/* line 31, ../compass/sass/styles.scss */
img {
  width: 300px;
  height: 450px;
}

/* line 36, ../compass/sass/styles.scss */
h2 {
  color: #fff;
  font-size: 48px;
  text-align: center;
}

/* line 42, ../compass/sass/styles.scss */
.search-form {
  text-align: center;
  margin: 50px;
}

/* line 47, ../compass/sass/styles.scss */
.description {
  display: none;
  border: 1px solid #000;
  width: 300px;
  height: 450px;
  z-index: 1;
}
